<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
<style type="text/css">
	li{
		cursor: pointer;
	}
</style>
<body style="overflow: hidden; font-family: 'Russo One', sans-serif;">
	<section style="height: 100vh;display: flex;justify-content: center;" class="selectionscreen">
		<div style="align-content: center;transform: translateY(200px);">
        <h1 style="font-size: 150px;">Soccer Strikers</h1>
       <center><li style="list-style: none;font-size: 30px;font-weight: 100;" class="single">1 PLAYER</li>
		<li style="list-style: none;font-size: 30px;font-weight: 100;" class="multi"> 2 PLAYER</li>
		</div></center> 
	</section>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/selections.js"></script>
<script type="text/javascript " src="js/bootstrap.bundle.js"></script>
</body>
</html>