<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	
	<section style="height: 100vh;">
		<div style="transform: translateY(300px);">
		
		<form method="POST" action="/ingame">
			<h1>
		    ENTER NAME PLAYER 1
		</h1>
		   <input type="text" name="NameP1" placeholder="Name" style="width: 150px;">
		
		<h1>
			ENTER NAME OF PLAYER 2
		</h1>

		   <input type="text" name="NameP1" placeholder="Name">
		   <button type="submit"></button>
		</form>
		</div>

	</section>

</body>
</html>