<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-grid.css">

</head>
<body style="font-family: 'Russo One',sans-serif;background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('/bgfinal.jpg');background-size: cover;overflow-x: hidden;">
	
	<section style="height: 100vh;">
		<div style="transform: translateY(170px);">
		<div class="row" style="display: flex;justify-content: center;">
			<div class="col-lg-8">
				<form method="POST" action='/intermediate'>
  <div class="form-group">
<center> <label for="exampleInputEmail1" style="font-weight: 200;font-size: 50px; font-family: 'Russo One',sans-serif;box-sizing: border-box;border: 2px solid black;padding: 10px;color: white; ">PLAYER 1</label>
    <input type="text" class="form-control" id="namep1" aria-describedby="emailHelp" placeholder="ALIAS" name="p1alias" style="width: 500px;text-align: center;"> 
    <small id="emailHelp" class="form-text text-muted">IT WILL BE USED IN GAME</small></center>  
  </div>
  <% if(!issingle)
  {%>


  <div class="form-group">
<center>  <label for="exampleInputPassword1"style="font-weight: 200;font-size: 50px; font-family: 'Russo One',sans-serif;box-sizing: border-box;border: 2px solid black;padding: 10px; color: white; ">PLAYER 2</label>
    <input type="text" class="form-control" id="namep2" placeholder="ALIAS" style="text-align: center;width: 500px;" name="p2alias"></center>  
  </div>
<%}
%>
 

 <center> <button type="submit" class="btn btn-primary" style="height: 70px;border-radius: 50%;">PLAY</button></center>
</form>
			</div>
		</div>
		
		</div>

	</section>

</body>
<script type="text/javascript" src="/gamescript.js"></script>
</html>