* {
  box-sizing: border-box;
}
body {
 
  font-family: helvetica;
}
.circle {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -70px;
}
.table {
  width: 900px;
  height: 590px;
  margin-top: -275px;
  margin-left: -460px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 15px solid #2e2e2e;
  border-radius: 70px;

background-color:#249c28;
  box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.25);

}
.table:before,
.table:after {
  content: '';
  position: absolute;
  background-color: #7A7A7A;
  width: 15px;
  height: 190px;
  top: 50%;
  left: -15px;
  margin-top: -95px;
}
.table:after {
  left: auto;
  right: -15px;
}
.table--canvas {
  width: 870px;
  height: 560px;
  margin-top: -260px;
  margin-left: -445px;
  background-color: transparent;
  border-radius: 55px;
  border: none;
}
.table--canvas:focus {
  outline: none;
}
.table-inner {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.table__center-line {
  width: 5px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
 
}
.table__blue-line {
  position: absolute;
  left: 37%;
  width: 5px;
  margin-left: -2.5px;
  height: 100%;
  background-color: rgba(48, 79, 134, 0.25);
}
.table__blue-line--two {
  left: auto;
  right: 37%;
  margin-left: 0;
  margin-right: -2.5px;
}
.table__goal-crease {
  left: 0;
  margin-top: -95px;
  margin-left: -102.5px;
  width: 190px;
  height: 190px;
  background-color: #4cc40c;
}
.table__goal-crease--two {
  left: auto;
  margin-left: auto;
  right: 0;
  margin-top: -95px;
  margin-right: -102.5px;
}
.table__faceoff {
  width: 80px;
  height: 80px;
  border-color: white;
  position: absolute;
}
.table__faceoff--top-left {
  margin-top: -40px;
  margin-left: -40px;
  left: 20%;
  top: 20%;
}
.table__faceoff--top-right {
  margin-top: -40px;
  margin-right: -40px;
  right: 20%;
  top: 20%;
  left: auto;
}
.table__faceoff--bottom-left {
  margin-bottom: -40px;
  margin-left: -40px;
  left: 20%;
  bottom: 20%;
  top: auto;
}
.table__faceoff--bottom-right {
  margin-bottom: -40px;
  margin-right: -40px;
  right: 20%;
  bottom: 20%;
  left: auto;
  top: auto;
}
.goal-celebration{
  width: 0px;
  margin-left: -100%;
  transition: all 1s ease-in-out;
  opacity: 0;

}
.player1{
   width: 0px;
  margin-left: -100%;
  transition: all 1s ease-in-out;
  opacity: 0;

}
.player1-active{
   opacity: 1;
  width: 100%;
 margin-left: 150px;
  transition: all 1s ease-in-out;
}
.player2{
   width: 0px;
  margin-left: -100%;
  transition: all 1s ease-in-out;
  opacity: 0;

}
.player2-active{
   opacity: 1;
  width: 100%;
 margin-left: 150px;
  transition: all 1s ease-in-out;
}

.goal-celebration-active{
  opacity: 1;
  width: 100%;
 margin-left: 150px;
  transition: all 1s ease-in-out;
}

.fa-futbol{
transition: 1s ease;

}
.rotateme{
    animation: rotatepie 2s  ease;
}
@keyframes rotatepie{
  from{
      
    transform: rotate(0deg);
  }
  to{
transform: rotate(360deg);
  }
}
